// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img{
    height: auto !important;
    width: 100% !important;
}

.list-group-item {
    padding: 0rem 0rem !important;
    border-bottom: 1px solid #ccc !important; 
    margin-bottom: 0.5rem !important;
}
.card {
    border: 1px solid #fff !important;
}
